/* 

.expense-table {
  margin: 0 auto; 
}

.expense-table th,
.expense-table td {
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}

.expense-table th {
  background-color: #f2f2f2;
}

.expense-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.expense-table tr:hover {
  background-color: #ddd;
}

.expense-table th,
.expense-table td {
  border-bottom: 1px solid #ddd;
}

.buttonclass {
  background-color: #007bff; 
  border: none;
  color: #ec2a2a;
  text-align: center;
  cursor: pointer;
  position: absolute;
  width: 150px;
  height: 50px;
  right: 50px;
}
.button {
  background-color: #007bff; 
  border: none;
  color: #ec2a2a;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  width: 100px;
  height: 50px;
  
  right: 100px;
}
.buttonclass:hover {
  background-color: #0056b3; 
} */

/* Assuming you have a separate CSS file named view.css */

.view-container {
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* background-color: #f9f9f9; */
  background-image: linear-gradient(
    to right,
    rgb(239, 237, 239),
    rgb(240, 171, 133)
  );
  display: ruby-base-container;
  justify-content: flex-end;
  height: 100vh;
  margin-top: 90px;
  padding: 20px;
}

.canvas-container {
  margin-bottom: 0px;
  max-width: 300px;
}

.balance-container {
  margin-top: 20px;
}

.error-message {
  color: red;
  font-weight: bold;
}
